<div class="container">
  <table>
    <thead>
      <tr>
        <th class="item table-header">#</th>
        <th class="item table-header">First Name</th>
        <th class="item table-header">Last Name</th>
        <th class="item table-header">Age</th>
        <th class="item table-header">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getMemberList(); let id = index">
        <td class="item">{{id+1}}</td>
        <td class="item">{{item.name.first}}</td>
        <td class="item">{{item.name.last}}</td>
        <td class="item">{{item.age}}</td>
        <td class="item">
          <a (click)="addMemberModal(item)">Edit</a>
          <a (click)="deleteMember(item)">Delete</a>
        </td>
    </tr>
    </tbody>
  </table>
  <button (click)="addMemberModal(null)">Создать</button>
</div>
