.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th.item {
  border-top: none;
}
tr {
  &:nth-child(even) {
    background-color: #F9F9F9;
  }
}
.table-header {
  text-align: left;
}

.item {
  border-top: 1px solid #DDDDDD;
  padding: 15px;
  width: 250px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.short-item {
    width: 100px;
  }
  a {
    color: #3380D3;
    cursor: pointer;
    &:first-child {
      margin-right: 5px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  &img {
    width: 100%;
  }
}
button {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
